includes:
	- phpstan-baseline.neon

parameters:
	level: max
	tmpDir: ./.phpstan.cache
	noEnvCallsOutsideOfConfig: true
	checkModelProperties: true
	paths:
		- src
		- config
		- tests
	stubFiles:
		- stubs/BackedEnum.php.stub
	ignoreErrors:
		-
			identifier: larastan.noEnvCallsOutsideOfConfig
			path: config
		-
			identifier: property.onlyWritten
			message: '#Static property [a-zA-Z0-9\\_]+::\$factory#'
			path: src/Models
	# 	- '#^Enum .*? has @implements tag, but does not implement any interface.$#'
